.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 26rem;
  box-sizing: border-box;
  height: 100vh;
}

.title {
  font-size: 3.4rem;
  font-weight: bold;
  margin: 0;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
  gap: 4rem;
}

.rsSchool,
.myTeam {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  border-radius: 35px;
  width: 100%;
  height: 300px;
  background-color: var(--light-background-color);
}

.iconRS {
  position: absolute;
  width: 90%;
  height: 13%;
  left: 5%;
  padding: 100px 0 0 30px;
  border-radius: 35px;
  background-color: var(--rs-school);
  z-index: 10;
  font-size: 70px;
  font-weight: bold;
  font-family: var(--font-family);
  color: rgb(0 0 0);
  text-decoration: none;
}

.textRS,
.textTeam {
  width: 60%;
  font-size: 25px;
}

.rsSchool:hover,
.myTeam:hover {
  .iconRS,
  .iconTeam {
    animation: animation-go 2s forwards;
  }
}

.rsSchool:not(hover),
.myTeam:not(hover) {
  .iconRS,
  .iconTeam {
    animation: animation-out 2s forwards;
  }
}

.text {
  width: 100%;
  font-size: 1rem;
}

.rs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.logo {
  width: 3rem;
  height: 3rem;
  background-image: url('../../../public/assets/img/rs.png');
  background-size: 100%;
  border-radius: 10%;
}

@media screen and (width <= 600px) {
  .text {
    font-size: 0.7rem;
    display: flex;
    box-sizing: border-box;
    max-width: 20rem;
  }
}

/* 
@media screen and (width <= 1450px) {
  .text {
    font-size: 14px;
  }
}
@media screen and (width <= 1110px) {
  .rsSchool,
  .myTeam {
    height: 220px;
  }

  .iconRS {
    padding: 80px 0 0 30px;
    height: 12.5%;
    font-size: 50px;
  }

  .textRS,
  .textTeam {
    padding-top: 10px;
    font-size: 20px;
  }

  .iconTeam {
    padding: 80px 30px 0 0;
    height: 12.5%;
    font-size: 50px;
  }
  .text {
    font-size: 12px;
  }
}

@media screen and (width <= 860px) {
  .rsSchool:hover,
  .rsSchool:not(hover),
  .myTeam:hover,
  .myTeam:not(hover),
  .author:hover,
  .author:not(hover) {
    .iconRS,
    .iconTeam,
    .iconAuthor1,
    .iconAuthor2,
    .iconAuthor3,
    .iconMentor {
      animation-play-state: paused;
    }
  }

  .iconAuthor1,
  .iconAuthor2,
  .iconAuthor3,
  .iconMentor {
    display: none;
  }

  .iconRS,
  .iconTeam {
    height: 9%;
    width: 30%;
    padding: 80px 0 0 20px;
    font-size: 45px;
  }

  .textRS,
  .textTeam {
    padding-top: 10px;
    font-size: 18px;
  }

  .iconTeam {
    padding: 80px 20px 0 0;
  }
  .teamLead {
    font-size: 35px;
  }

  .author1Content,
  .author2Content {
    flex-direction: column;
    align-items: center;
  }

  .author2Content {
    flex-direction: column-reverse;
  }

  .imageAuthor1,
  .imageAuthor2,
  .imageAuthor3,
  .imageMentor {
    height: 300px;
    width: 50%;
  }

  .author {
    height: 500px;
  }
  .textContent {
    width: 100%;
  }

  .iconAuthor1,
  .iconAuthor2,
  .iconAuthor3,
  .iconMentor {
    height: 60%;
  }
  .text {
    font-size: 14px;
  }
}

@media screen and (width <= 760px) {
  .iconRS {
    padding: 55px 0 0 20px;
  }
  .iconTeam {
    padding: 80px 10px 0 0;
  }
  .textTeam {
    margin: 0 20px 0 30px;
  }
}

@media screen and (width <= 600px) {
  .rsSchool,
  .myTeam {
    height: 150px;
  }
  .iconRS,
  .iconTeam {
    padding: 60px 0 0 20px;
    height: 6.5%;
    font-size: 30px;
  }

  .iconTeam {
    padding: 60px 20px 0 0;
  }

  .textRS,
  .textTeam {
    padding-top: 5px;
    font-size: 12px;
  }
  .name {
    font-size: 20px;
  }

  .imageAuthor1,
  .imageAuthor2,
  .imageAuthor3,
  .imageMentor {
    width: 70%;
  }

  .text {
    font-size: 12px;
  }

  .rankMentor {
    margin: 0 0 0 80%;
  }
}

@media screen and (width <= 550px) {
  .rsSchool,
  .myTeam {
    height: 150px;
  }
  .iconRS,
  .iconTeam {
    padding: 50px 0 0 10px;
    height: 6.5%;
    font-size: 25px;
  }

  .iconTeam {
    padding: 50px 20px 0 0;
    margin: 0 0 0 30px;
  }

  .textRS,
  .textTeam {
    padding-top: 5px;
    font-size: 11px;
  }

  .textTeam {
    padding: 0 15px 0 0;
  }

  .text {
    margin: 0 15px 10px 0px;
  }
} */

.navigate {
  width: 100%;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.navigate:hover {
  border-color: #96b400;
}
.navigate:focus,
.navigate:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
