:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  min-height: 100dvh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-text: #000;
  --color-bg: #e4e3d7;
  --color-link: #061943;
  --color-link-hover: #0a389ac9;
  --color-button-bg: #0a389ac9;
  --color-button-text: #fff;
  --color-input-bg: #f9f9f9;
  --color-border: #d0d9a2;
  --color-accent: #ff6600;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

body.theme__dark {
  --color-text: #fffef6;
  --color-bg: #222;
  --color-link: #f2faca;
  --color-link-hover: #eaff82;
  --color-button-bg: #444;
  --color-button-text: #fff;
  --color-button-hover: #d0d9a2;
  --color-input-bg: #333;
  --color-border: #666;
  --color-drawer-bg: rgba(0, 0, 0, 0.6);
  --box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
}

#root {
  margin: 0 auto;
  width: 100%;
  max-width: 90%;
  min-width: 300px;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
  display: block;
  box-sizing: border-box;
}

a:hover {
  color: var(--color-link-hover);
}

a:focus {
  color: inherit;
}

body,
html {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition:
    background 0.3s,
    color 0.3s;
}

main {
  height: 100%;
  margin: 0 auto;
  width: 90%;
}

h1 {
  margin: 1rem 0;
}

button {
  position: relative;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  border: 1px solid var(--color-border);
  padding: 0.6em 1.2em;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}

button:hover {
  border-color: var(--color-button-hover);
}

input,
textarea,
select {
  background-color: var(--color-input-bg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  padding: 0.6em 1em;
  border-radius: 6px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.page-404 {
  display: flex;
  flex-direction: column;
  height: 60vh;
  gap: 35px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 50px;
}

.content-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding: 20px;
  border: 3px solid var(--dark-gray);
}

.error-text {
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: var(--red-color);
  font-family: var(--font-family);
  margin-bottom: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 1220px) {
  .content-404 {
    width: 40%;
  }
}

@media screen and (max-width: 950px) {
  .content-404 {
    width: 50%;
  }
}

@media screen and (max-width: 780px) {
  .content-404 {
    width: 70%;
  }
}

@media screen and (width <= 620px) {
  button {
    padding: 0.6em 0.6em;
  }
}

@media screen and (width <= 470px) {
  a {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 450px) {
  .content-404 {
    width: 80%;
  }
}
