.search_block {
  display: flex;
  align-items: center;
  padding: 0.6em 1.2em;
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 60%;
  border: 1px solid #d0d9a2;
  border-radius: 8px 8px 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.button {
  max-width: fit-content;
}
.button:hover {
  border-color: #96b400;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto #d0d9a2;
}
