.pagination {
  text-align: center;
}

.pagination_block {
  margin: auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  box-sizing: border-box;
  max-width: 19rem;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.pagination_input {
  width: inherit;
  border: 1px solid #d0d9a2;
  border-radius: 8px 8px 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.error {
  color: #b46000;
}

.arrow_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.arrow_btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.arrow_btn:hover:not(:disabled) {
  animation: wiggle 0.4s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
