.card_list_block {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
}

.wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  min-height: 24rem;
  padding-top: 1rem;
}

.card_list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 17rem;
}

.card_item {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 10rem;
  height: 3.5rem;
}

.card {
  min-width: 17rem;
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(208, 208, 208, 0.506);
  border: 1px solid #e5e7eb;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.4s forwards;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.card.exit {
  animation: slideOut 0.3s forwards;
}

.refetch_button {
  width: 100%;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.card_name {
  display: flex;
  align-self: anchor-center;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3rem;
  text-align: center;
  color: var(--color-link);
  width: min-content;
  font-size: 0.8rem;
}

.card_img {
  width: 100%;
  max-width: 10rem;
  margin: auto;
}

.card_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 1rem;
}

.card_li {
  display: flex;
  justify-content: space-between;
}

.card_span {
  font-size: 0.8rem;
}

.form_block {
  display: flex;
  align-items: center;
  width: 100%;
}

.pagination {
  text-align: center;
}

.pagination_block {
  margin: auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  box-sizing: border-box;
  max-width: 19rem;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.input,
.pagination_input {
  width: inherit;
  border: 1px solid #d0d9a2;
  border-radius: 8px 8px 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.close_button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #888;
  transition: color 0.3s ease;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  user-select: none;
}

.close_button:hover {
  color: #96b400;
}

.page_number {
  padding: 0.6em 1.2em;
}

.error {
  color: #b46000;
}

.nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0 0 0;
}

.content_wrapper {
  padding-bottom: 100px;
}

@media screen and (width < 630px) {
  .card_name {
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
  }

  .card_list {
    order: 2;
  }

  .card {
    width: 100%;
    flex-direction: column;
    order: 1;
    max-width: 90%;
    margin: auto;
  }

  .close_button {
    position: static;
    display: block;
    margin: 0.5rem auto 0 auto;
    font-size: 20px;
  }

  .content_wrapper {
    padding-bottom: 150px;
  }
}
